*{

    padding: 0;
    font-family: Helvetica, sans-serif;
}
body{
    background-color: #F0F2F5;
}
h2{
    color: #1877F2;
    font-weight: bold;
    font-size: 2.7rem;
    
    height: 25px;
}
h4{
 
   font-weight: 400;
   font-size: 28px;
   height: 1px;
}
img{
    border-radius: 10px 10px 0 0;
}
.card-picture{
    width: 160px;
    height: 207px;
    /* border: 1px solid red; */
   padding: 0;
   text-align: center;
   border-radius: 10px;
   background-color: white;
   position: relative;
}
.card-picture i{
    position: absolute;
    top: 5px;
    left: 5px;
    opacity: 0.6;
}
#no-picture{
    width: 160px;
    height: 230px;
    /* border: 1px solid red; */
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    color: #1877F2;
    background-color: white;
}
#icon-container{
    height: 161px;
    background-color: #F5F6F7;
    border-radius: 10px 0 0;
    font-size: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container{
    width: 50%;
    margin: 0 180px;
    margin-top: 101px;
}
ul{
    display: flex;
    column-gap: 16px;
}

li{
    list-style-type: none;
}

/*le div du formulaire*/
.form-container{
    /* border: 1px solid red; */
    display: grid;
    padding: 17px 15px;
    width: 395px;
    height: 349px;
    grid-template-columns: 1fr;
    grid-template-rows: 51px 51px 48px 55px 48px;
    row-gap: 13px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px grey;
    background-color: white;
}

.link-container{
    height: 30px;
    width: 100%;
    border: 1px solid #DADDE1;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}
#pictures-form-container{
    display: flex;
    column-gap: 65px;
}
a{
    text-decoration: none;
    color:#1877F2;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
}
.new-account-btn{
    background-color: #42B72A;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 17px;
}
